future==1.0.0
ipympl==0.10.0
jupyter==1.1.1
matplotlib==3.10.8
numpy==1.26.4
torch==2.10.0
torchvision==0.25.0
opencv-python==4.8.0.74
sympy==1.13.3
pytorch-lightning==2.6.1
torchmetrics==1.8.2
torchsummary==1.5.1
scikit-learn==1.7.2
